<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fdeazagra.cines_aragon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cines Aragon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.PeliculasCartelera" />
        <activity android:name=".view.CinesCercanos" />
        <activity android:name=".view.MenuPrincipal" />
        <activity android:name=".view.PeliculasByGenero"/>
        <activity android:name=".view.PeliculaFicha" />
        <activity android:name=".view.TicketsHistorico"/>
        <activity android:name=".view.PeliculasTrailer"/>

        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>